
.uipanel {
  position: fixed;
  z-index: 10;
  right: 0vw;
  bottom: 0vh;
  width: 20vw;
  height: 50vh;
  display: flex;
  z-index: 11;
  overflow-y: auto;
  flex-direction: column;
  gap: 1.5rem;
}
.layerList {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  overflow-y: auto;
}

.layerItem {
  padding: 10px;
  background-color: #333;
  border: 1px solid transparent;
  border-radius: 6px;
  margin-bottom: 5px;
  cursor: pointer;
}
.layerItem.active {
  background-color: #444;
  border: 1px solid #4CAF50;
}

